<table class="table">
 <caption>{{ stuff.major }}培养方案</caption>
 <thead>
    <tr>
      <th>学期</th>
      <th>总学分(不含选修)</th>
      <th>总课程数</th>
      <th>通过课程数</th>
      <th>GPA(不含选修)</th>
      <th>加权平均分(不含选修)</th>
      <th>备注</th>
    </tr>
 </thead>
 <tbody>
 	{% for term in stuff.terms %}
    <tr>
      <td>{{ term[0] }}</td>
      <td>{{ term[1] }}</td>
      <td>{{ term[2] }}</td>
      <td>{{ term[3] }}</td>
      <td>{{ term[4] }}</td>
      <td>{{ term[5] }}</td>
      <td>
      	{% if term[2] - term[3] > 1 %}
      	<b>你挂科了，且补考/重修未通过，共计{{ term[2] - term[3] }}科</b>
      	{% endif %}
      </td>
    </tr>
    {% endfor %}
 </tbody>
</table>
<small>合计GPA:{{ stuff.tot_gpa }}</small>